body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.page {
  background-color: bisque;
  display: none;
  position: absolute;
  top: 56px;
  left: 24px;
  right: 24px;
}

#welcomePage {
  display: block;
}

.tempPageNav {
  position: absolute;
  bottom: 16px;
  left: 16px;
}